**/__pycache__
/scratch
/.vscode
test.pianoscript
test2.pianoscript
page.pdf
/.venv
**/*.pdf
**/*.DS_Store
/play.mid
/pianoscriptfiles/test_ticks.pianoscript
/test/scripts/popup.py
/test/scripts/excel.py
/kopie.bat
/test/scripts/midi.py
